body{background-color: rgb(241, 172, 200);}

.logo{

    max-width:140px;

}



.lesbicafuturista {
    height: 140px;
    width:1400px;
    color: #ffcaf3;
    font-size: 40px;
    display: grid;
    align-items: center ;
 
}

.header
{
    background: rgb(53, 47, 50);
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 16px;
    font-weight: 800;



}
.nav-link
{
    
    font-size:18px ;
    color: rgb(255, 230, 249);
    width: 100x;
     
}
.container{
padding-top: 15px;

}
.carousel-caption p{
    color: rgb(255, 255, 255);
     font-size: 20px;
   	width: 800px; 
	border:1px inset rgb(255, 255, 255);
	padding:3px;
    background: #323333;
}

.carousel-caption h5 {
    color: rgb(255, 255, 255);
    font-size: 24px;
    text-shadow: rgb(43, 42, 41) 2px 2px;
   
}
.logot {
    color: rgb(238, 120, 212);
}



.tudo {
    background-color: fuchsia;
}
.noticiasrecentes{padding-top: 15px;}

.card {margin: 10px;padding: 10px;}

.iconi{
    max-width: 150px;
    max-height: 150px;
}
.rodape{
    background: rgb(53, 47, 50);

}
.grid_cor1{
    margin-left: 30px;
    color:#ffcaf3;
    ;
}